%p#notice= notice


%div.image
  =image_tag ("http://placesheen.com/250/350?unique="+SecureRandom.urlsafe_base64)

%div.description
  %p
    %b Name:
    = @provider.name
  %p 
    %b Phone:
    = @provider.phone
  %p
    %b Address:
    = @provider.address1
  %p
    %b Practitioner:
    = @provider.title 
    = @provider.firstName

= link_to 'Edit', edit_provider_path(@provider)
\|
= link_to 'Back', providers_path

%div.book
  %button.btn Book Now
